<div class="top-navbar">
    <div class="d-flex align-items-center  w-100">
        <ul class="navbar-links">
            <li class="dropdown">
                File
                <ul class="submenu">
                    <li><a href="@Url.Action("CompanyList", "Account")">Company List</a></li>
                    <li><a href="@Url.Action("CompanyProfile", "Account")">Company Center</a></li>
                </ul>
            </li>

            <li class="dropdown" data-mainmenu="Accountant">
                Lists
                <ul class="submenu">
                    <li>
                        <a href="@Url.Action("ChartOfAccount", "Lists")" data-submenu="Chart Of Account">
                            Chart of Account
                        </a>
                    </li>
                    <li><a href="@Url.Action("ItemList", "Lists")" data-submenu="Inventory Items">Item List</a></li>
                    <li><a href="@Url.Action("ItemCategory", "Lists")" data-submenu="Inventory Items">Item Category List</a></li>
                    <li><a href="@Url.Action("Tax", "Lists")" data-submenu="Inventory Items">Item Tax Code List</a></li>
                    <li><a href="@Url.Action("Unit", "Lists")" data-submenu="Inventory Items">Item Unit List</a></li>
                    <li><a href="@Url.Action("FixedAssetItem", "Lists")" data-submenu="Fixed Assets">Fixed Asset Item List</a></li>
                </ul>
            </li>

            <li class="dropdown" data-mainmenu="Accountant">
                Accountant
                <ul class="submenu">
                    <li class="dropdown has-submenu" data-main="Accountant" data-sub="Account Center">
                        <a href="">Account Center</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("ChartOfAccount", "Lists")" data-submenu="Chart Of Account">Chart Of Account</a></li>
                            <li><a href="@Url.Action("CostCenter", "Lists")" data-submenu="Cost Center">Cost Center</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Fixed Assets List</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("FixedAssets", "Lists")" data-submenu="Fixed Assets">Fixed Assets Center</a></li>
                            <li><a href="@Url.Action("FixedAssetsCategory", "Lists")" data-submenu="Fixed Assets">Fixed Assets Category</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Voucher</a>
                        <ul class="submenu">
                            @* <li><a asp-controller="ReceiveVoucher" asp-action="Index">Payment Voucher</a></li> *@
                            @* <li><a asp-controller="GeneralJournalVouchers" asp-action="Index">General Journal Voucher</a></li> 
                                 <li><a asp-controller="ReceiptVouchers" asp-action="Index">Receipt Voucher</a></li>
                                 <li><a asp-controller="AdvancePayments" asp-action="Index">Advance Payment</a></li>*@
                            <li><a href="@Url.Action("PaymentVoucher", "Account")" data-submenu="Payment Voucher">Payment Voucher</a></li>
                            <li><a href="@Url.Action("ReceiptVoucher", "Account")" data-submenu="Receipt Voucher">Receipt Voucher</a></li>
                            <li><a href="@Url.Action("AdvancePayment", "Account")" data-submenu="Vouchers">Advance Payment Voucher</a></li>
                            <li><a href="@Url.Action("GJVoucher", "Account")" data-submenu="Vouchers">General Journal Voucher</a></li>
                        </ul>
                        </li>
                    <li class="dropdown has-submenu">
                        <a href="">Prepaid Expense List</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("PrepaidExpense", "Lists")">Prepaid Expense Center</a></li>
                            <li><a href="@Url.Action("PrepaidExpenseCategory", "Lists")">Prepaid Expense Category</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Petty Cash List</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("PettyCash", "Lists")" data-submenu="Petty Cash">Petty Cash Center</a></li>
                            <li><a href="@Url.Action("PettyCashApproval", "Lists")" data-submenu="Petty Cash">Petty Cash Approval</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Banking</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("BankCenter", "Account")" data-submenu="Bank Center">Bank Center</a></li>
                            <li><a href="@Url.Action("BankCardCenter", "Account")" data-submenu="Open Bank Card">Bank Card Center</a></li>
                            <li><a href="@Url.Action("BankCheque", "Account")" data-submenu="Cheques">Bank Cheque</a></li>
                            <li><a href="@Url.Action("PDC", "Account")" data-submenu="Cheques">PDC</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="dropdown" data-mainmenu="Inventory">
                Inventory Doc
                <ul class="submenu">
                    <li class="dropdown has-submenu">
                        <a href="">Inventory Items</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("Unit", "Lists")" data-submenu="Inventory Items">Add Unit</a></li>
                            <li><a href="@Url.Action("ItemCategory", "Lists")" data-submenu="Inventory Items">Add Category</a></li>
                            <li><a href="@Url.Action("Tax", "Lists")" data-submenu="Inventory Items">Add Item Tax Code</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("ItemList", "Lists")" data-submenu="Inventory Center">Add New Item</a></li>
                    <li><a href="@Url.Action("StockManagement", "Inventory")" data-submenu="Stock Management">Stock Management</a></li>
                   @*  <li><a asp-controller="ItemStockSettlement" asp-action="Index">Stock Management</a></li> *@
                    <li><a href="@Url.Action("ItemList", "Lists")" data-submenu="Inventory Center">Inventory Center</a></li>
                    <li><a href="@Url.Action("WareHouse", "Inventory")" data-submenu="Warehouse Center">Warehouse Center</a></li>
                    <li><a href="@Url.Action("WarehouseTransfer", "Inventory")" data-submenu="Warehouse Center">Item Warehouse Transfter</a></li>
                </ul>
            </li>

            <li class="dropdown" data-mainmenu="Customer">
                Customers
                <ul class="submenu">
                    <li><a href="@Url.Action("Customer", "Customer")" data-submenu="Customer Center">Customer Center</a></li>
                    <li><a href="@Url.Action("SalesCenter", "Customer")" data-submenu="Sales Center">Sales Center</a></li>
                    <li><a href="@Url.Action("SalesQuotation", "Customer")" data-submenu="Quotation">Sales Quotation</a></li>
                    <li><a href="@Url.Action("SalesOrder", "Customer")" data-submenu="Sales Order">Sales Order</a></li>
                    <li><a href="@Url.Action("SalesPerforma", "Customer")" data-submenu="Sales Proforma">Sales Performa</a></li>
                    <li><a href="@Url.Action("SalesReturn", "Customer")" data-submenu="Sales Return">Sales Return</a></li>
                    <li><a href="@Url.Action("CreditNote", "Customer")" data-submenu="Credit Note">Credit Note</a></li>
                   @*  <li><a asp-controller="CustomerCenter" asp-action="Index">Customer Center</a></li> *@
                @*     <li><a asp-controller="MasterCreditNote" asp-action="Index">Sales Center</a></li>
                    <li><a asp-controller="CustmerSalesQuotation" asp-action="Index">Sales Quotation</a></li> 
                     <li><a asp-controller="CustomerSalesOrders" asp-action="Index">Sales Order</a></li>
                      <li><a asp-controller="CustmerSalesProformas" asp-action="Index">Sales Proforma</a></li>
                          <li><a asp-controller="SalesReturns" asp-action="Index">Sales Return</a></li>
                          <li><a asp-controller="MasterCreditNote" asp-action="Create">Create Invoice</a></li>
                                <li><a asp-controller="ReceiptVouchers" asp-action="Create">Receive Voucher</a></li>
                    <li><a asp-controller="CreditNotes" asp-action="Index">Credit Note</a></li>*@
                </ul>
            </li>

            <li class="dropdown" data-mainmenu="Vendor">
                Vendors
                <ul class="submenu">
                    <li><a href="@Url.Action("Vendor", "Vendor")" data-submenu="Vendor Center">Vendor Center</a></li>
                    <li><a href="@Url.Action("PurchaseCenter", "Vendor")" data-submenu="Purchases Center">Purchase Center</a></li>
                    <li><a href="@Url.Action("PurchaseOrder", "Vendor")" data-submenu="Purchase Order">Purchase Order</a></li>
                    <li><a href="@Url.Action("PurchaseReturn", "Vendor")" data-submenu="Purchase Return">Purchase Return</a></li>
                    <li><a href="@Url.Action("DebitNote", "Vendor")" data-submenu="Debit Note">Debit Note</a></li>
                    @* <li><a asp-controller="Vendors" asp-action="Index">Vendor Center</a></li> 
                    <li><a asp-controller="PurchasesCenter" asp-action="Index">Purchases Center</a></li>
                    <li><a asp-controller="PurchaseOrders" asp-action="Index">Purchase Order</a></li>
                    <li><a asp-controller="PurchasesReturn" asp-action="Index">Purchase Return</a></li>*@
                @*     <li><a asp-controller="PurchasesCenter" asp-action="Create">Create Purchase</a></li> 
                    <li><a asp-controller="ReceiveVoucher" asp-action="Create">Payment Voucher</a></li>
                    <li><a asp-controller="DebitNotes" asp-action="Index">Debit Note</a></li>*@
                </ul>
            </li>

            <li class="dropdown" data-mainmenu="Customer">
                Subcontractor
                <ul class="submenu">    
                    <li><a href="@Url.Action("Subcontractor", "Subcontractor")">Subcontractor Center</a></li>
                    <li><a href="@Url.Action("PurchaseCenter", "Vendor")">Purchase Center</a></li>
                    @* <li><a asp-controller="Subcontractors" asp-action="Index">Subcontractor Center</a></li>
                    <li><a asp-controller="SubcontractorPurchasesCenter" asp-action="Index">Purchases Center</a></li>
                <li><a asp-controller="SubcontractorPurchasesCenter" asp-action="Create">Create Purchase</a></li>
                    <li><a asp-controller="SubcontractorReceiveVoucher" asp-action="Create">Payment Voucher</a></li> *@
                </ul>
            </li>

            <li class="dropdown" data-mainmenu="HR">
                HR
                <ul class="submenu">
                    <li><a href="@Url.Action("HRMS", "HR")" data-submenu="Human Resource Center">Human Resource</a></li>
                </ul>
            </li>

            <li class="dropdown" data-mainmenu="Construction">
                Construction
                <ul class="submenu">
                    <li class="dropdown has-submenu">
                        <a href="">Project SetUp</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("ProjectManagement", "Construction")">Project Center</a></li>
                            <li><a href="@Url.Action("TenderCenter", "Construction")">Tender Center</a></li>
                       @*      <li><a href="@Url.Action("SiteCenter", "Construction")">Site Center</a></li> *@
                        </ul>
                      </li>
                    <li><a href="@Url.Action("ProjectTender", "Construction")">Project Tender</a></li>
                    <li><a href="@Url.Action("ProjectEstimation", "Construction")">Project Estimate</a></li>
                    <li><a href="@Url.Action("ProjectPlanning", "Construction")">Project planning</a></li>
                    <li><a href="@Url.Action("ProjectWorkDone", "Construction")">Project Work Done</a></li>
                    <li class="dropdown has-submenu">
                        <a href="">Project Management</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("ProjectSummary", "Construction")">Project Summary</a></li>
                            <li><a href="@Url.Action("ActivitySummary", "Construction")">Project Active Summary</a></li>
                            <li><a href="@Url.Action("ProjectAssignReport", "Construction")">Project Assign Summary</a></li>
                            <li><a href="@Url.Action("ProjectResourceReport", "Construction")">Project Resource Summary</a></li>
                            <li><a href="@Url.Action("ProjectProgressSummary", "Construction")">Project Progress Summary</a></li>
                            <li><a href="@Url.Action("ProjectWorkProgressSummary", "Construction")">Project Work Progress Summary</a></li>
                        </ul>
                    </li>
                    @* <li class="dropdown has-submenu">
                        <a href="">Project Dashboard & Reports</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("ProjectDashboard", "Construction")">Project Dashboard</a></li>
                            <li><a href="@Url.Action("ProjectTimeLine", "Construction")">Timeline</a></li>
                        </ul>
                    </li> *@
                    <li><a href="@Url.Action("ProjectTimeLineChart", "Construction")">Project Time Line</a></li>
                </ul>
            </li>

            <li class="dropdown" data-mainmenu="Report">
                Reports
                <ul class="submenu">
                    <li class="dropdown has-submenu">
                        <a href="">Company</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("AccountBalanceReport", "Reports")" data-submenu="Company">Balance Sheet Standard</a></li>
                            <li><a href="@Url.Action("IncomeByCustomerSummary", "Reports")" data-submenu="Company">Income By Customer Summary</a></li>
                            <li><a href="@Url.Action("IncomeByVendorSummary", "Reports")" data-submenu="Company">Expense From Vendor Summary</a></li>
                            <li><a href="@Url.Action("StatementOfCashFlow", "Reports")" data-submenu="Company">Statement Of Cash Flow</a></li>
                            <li><a href="@Url.Action("ProfitLoss", "Reports")" data-submenu="Company">Profit & Loss</a></li>
                            <li><a href="@Url.Action("IncomeExpenseStatement", "Reports")" data-submenu="Company">Income Expenses Statement</a></li>
                       @*      <li><a asp-controller="IncomeSummary" asp-action="IncomeByCustomerSummary">Income By Customer Summary</a></li>
                            <li><a asp-controller="IncomeSummary" asp-action="IncomeByVendorSummary">Expense From Vendor Summary</a></li> 
                            <li><a asp-controller="IncomeSummary" asp-action="CashFlowStatement">Statement of Cash Flow</a></li>
                            <li><a asp-controller="IncomeSummary" asp-action="IncomeExpenseStatement">Income Expense Statement</a></li>
                            <li><a asp-controller="IncomeSummary" asp-action="UserActivity">User Activity Report</a></li>*@
                        </ul>
                        </li>
                    <li class="dropdown has-submenu">
                        <a href="">Customer & Receivable</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("CustomerSummary", "Reports")" data-submenu="Customer">Customer Summary</a></li>
                            <li><a href="@Url.Action("CustomerAgingSummary", "Reports")" data-submenu="Customer">Customer Aging Summary</a></li>
                            <li><a href="@Url.Action("CustomerBalanceSummary", "Reports")" data-submenu="Customer">Customer Balance Summary</a></li>
                            <li><a href="@Url.Action("IncomeByCustomer", "Reports")" data-submenu="Customer">Income By Customer</a></li>
                            @* <li><a asp-controller="CustomerAndReceivable" asp-action="CustomerSummary">Customer Summary</a></li> 
                            <li><a asp-controller="CustomerAndReceivable" asp-action="CustomerAgingSummary">Customer Aging Summary</a></li>
                            <li><a asp-controller="CustomerAndReceivable" asp-action="CustomerBalanceSummary">Customer Balance Summary</a></li>
                            <li><a asp-controller="IncomeSummary" asp-action="IncomeByCustomerSummary">Income By Customer Summary</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Sales</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("SalesByCustomerSummary", "Reports")" data-submenu="Sales">Sales By Customer Summary</a></li>
                            <li><a href="@Url.Action("SalesByItemSummary", "Reports")" data-submenu="Sales">Sales By Item Summary</a></li>
                           @*  <li><a asp-controller="SalesSummary" asp-action="SalesByCustomerSummary">Sales By Customer Summary</a></li> 
                            <li><a asp-controller="SalesSummary" asp-action="ItemSummary">Sales By Item Summary</a></li>*@
                        </ul>
                    </li>
                     <li class="dropdown has-submenu">
                        <a href="">Vendor & Payable</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("VendorSummary", "Reports")" data-submenu="Vendor">Vendor Summary</a></li>
                            <li><a href="@Url.Action("VendorAgingSummary", "Reports")" data-submenu="Vendor">Vendor Aging Summary</a></li>
                            <li><a href="@Url.Action("VendorBalanceSummary", "Reports")" data-submenu="Vendor">Vendor Balance Summary</a></li>
                            <li><a href="@Url.Action("IncomeByVendorSummary", "Reports")" data-submenu="Vendor">Vendor Income Summary</a></li>
                           @*  <li><a asp-controller="VendorAndPayable" asp-action="VendorSummary">Vendor Summary</a></li>
                            <li><a asp-controller="VendorAndPayable" asp-action="VendorAgingSummary">Vendor Aging Summary</a></li>
                            <li><a asp-controller="VendorAndPayable" asp-action="VendorBalanceSummary">Vendor Balance Summary</a></li> 
                            <li><a asp-controller="IncomeSummary" asp-action="IncomeByVendorSummary">Income By Vendor Summary</a></li>*@
                            
                        </ul>
                    </li>
                       <li class="dropdown has-submenu">
                        <a href="">Purchases</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("PurchaseByVendorSummary", "Reports")" data-submenu="Purchases">Purchase By Vendor Summary</a></li>
                            <li><a href="@Url.Action("PurchaseByItemSummary", "Reports")" data-submenu="Purchases">Purchase By Item Summary</a></li>
                            <li><a href="@Url.Action("PurchaseByVendorSummary", "Reports")" data-submenu="Purchases">Purchase By Subcontractor Summary</a></li>
                          @*   <li><a asp-controller="PurchasesReport" asp-action="PurchaseByVendorSummary">Purchase By Vendor Summary</a></li>
                            <li><a asp-controller="PurchasesReport" asp-action="ItemSummary">Purchase By Items Summary</a></li> 
                            <li><a asp-controller="PurchasesReport" asp-action="PurchaseBySubcontractorSummary">Purchase By Subcontractor Summary</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Employees</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("EmployeeBalanceSummary", "Reports")" data-submenu="Employees">Employee Balance Summary</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Account</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("TrialBalance", "Reports")" data-submenu="Accountant">Trial Balance</a></li>
                           @*  <li class="submenu-item has-sub">
                                <a href="#" class="submenu-link">Petty Cash</a>
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="/Reports/PettyCashSummary">Summary</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="/Reports/PettyCashDetails">Details</a>
                                    </li>
                                </ul>
                            </li> *@
                            <li><a href="@Url.Action("PettyCashSummary", "Reports")" data-submenu="Accountant">Petty Cash Summary</a></li>
                            <li><a href="@Url.Action("PettyCashDetails", "Reports")" data-submenu="Accountant">Petty Cash Details</a></li>
                            <li><a href="@Url.Action("TransacationJournal", "Lists")" data-submenu="Transactions Journal">Transactions Journal</a></li>
                            <li><a href="@Url.Action("GeneralLedger", "Reports")" data-submenu="Accountant">General Ledger</a></li>
                            <li><a href="@Url.Action("CostCenterSummary", "Reports")" data-submenu="Accountant">Cost Center</a></li>
                            <li><a href="@Url.Action("VATReport", "Reports")" data-submenu="Accountant">VAT Report</a></li>
                            <li><a href="@Url.Action("FixedAssetSummary", "Reports")" data-submenu="Accountant">Fixed Asset</a></li>
                            <li><a href="@Url.Action("PrepaidExpenseSummary", "Reports")" data-submenu="Accountant">Prepaid Expense</a></li>
                            <li><a href="@Url.Action("MasterVAT", "Reports")" data-submenu="Accountant">VAT Category Report</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Inventory</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("ItemMovingReport", "Reports")" data-submenu="Inventory Items">Item Moving Report</a></li>
                            <li><a href="@Url.Action("ItemWiseProfitStatement", "Reports")" data-submenu="Inventory Items">Item Profit</a></li>
                            <li><a href="@Url.Action("InventoryTransaction", "Reports")" data-submenu="Inventory Items">Item Transaction</a></li>
                            <li><a href="@Url.Action("WareHouseSummary", "Reports")" data-submenu="Inventory Items">Warehouse Summary</a></li>
                        </ul>
                    </li>
                    @* <li><a href="">Corporate Tax</a></li> *@
                    <li class="dropdown has-submenu">
                        <a href="">Bank</a>
                        <ul class="submenu">

                            <li><a href="@Url.Action("ChequeReport", "Reports")" data-submenu="Bank Center">Cheque Inquiry</a></li>
                            <li><a href="@Url.Action("BankBalanceSummary", "Reports")" data-submenu="Bank Center">Bank Balance Summary</a></li>
                            <li><a href="@Url.Action("PDCOutstandingSummary", "Reports")" data-submenu="Bank Center">PDC Outstanding</a></li>
                            <li><a href="@Url.Action("PDCClearedHistory", "Reports")" data-submenu="Bank Center">PDC Cleared History</a></li>
                            <li><a href="@Url.Action("ReturnedChequeReport", "Reports")" data-submenu="Bank Center">Returned Cheques Report</a></li>
                            <li><a href="@Url.Action("ChequeLinked", "Reports")" data-submenu="Bank Center">Cheques Linked to Payment/Receipt</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">List</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("ChartOfAccount", "Lists")" data-submenu="List">Account List</a></li>
                            <li><a href="@Url.Action("BankCenter", "Account")" data-submenu="List">Bank List</a></li>
                            <li><a href="@Url.Action("BankCardCenter", "Account")" data-submenu="List">Bank Card List</a></li>
                            <li><a href="@Url.Action("ChartOfAccountL1", "Lists")" data-submenu="List">Chart of Account(L1)</a></li>
                            <li><a href="@Url.Action("ChartOfAccountL2", "Lists")" data-submenu="List">Chart of Account(L2)</a></li>
                            <li><a href="@Url.Action("ChartOfAccountL3", "Lists")" data-submenu="List">Chart of Account(L3)</a></li>
                            <li><a href="@Url.Action("BankCheque", "Account")" data-submenu="List">Cheque List</a></li>
                            <li><a href="@Url.Action("CityList", "Reports")" data-submenu="List">City List</a></li>
                            <li><a href="@Url.Action("CountryList", "Reports")" data-submenu="List">Country List</a></li>
                            <li><a href="@Url.Action("CostCenter", "Lists")" data-submenu="List">Cost Center List</a></li>

                            <li><a href="@Url.Action("CustomerList", "Lists")" data-submenu="List">Customer List</a></li>
                            <li><a href="@Url.Action("CustomerCategoryList", "Lists")" data-submenu="List">Customer Category List</a></li>
                          @*   <li><a asp-controller="CustomerList" asp-action="CustomerList">Customer List</a></li> 
                            <li><a asp-controller="CustomerList" asp-action="CustomerCategoryList">Customer Category List</a></li>*@

                            <li><a href="@Url.Action("Department", "Lists")" data-submenu="List">Department List</a></li>
                            <li><a href="@Url.Action("EmployeeList", "Reports")" data-submenu="List">Employee List</a></li>
                            <li><a href="@Url.Action("FixedAssetList", "Reports")" data-submenu="List">Fixed Asset List</a></li>
                            <li><a href="@Url.Action("FixedAssetsCategory", "Lists")" data-submenu="List">Fixed Asset Category List</a></li>
                            <li><a href="@Url.Action("FixedAssetItem", "Lists")" data-submenu="List">Fixed Asset Item List</a></li>
                            <li><a href="@Url.Action("ItemList", "Reports")" data-submenu="List">Item List</a></li>


                            <li><a href="@Url.Action("ItemCategory", "Lists")" data-submenu="List">Item Category List</a></li>
                            <li><a href="@Url.Action("Tax", "Lists")" data-submenu="List">Item Tax Code List</a></li>
                            <li><a href="@Url.Action("Unit", "Lists")" data-submenu="List">Item Unit List</a></li>
                            <li><a href="@Url.Action("ItemWarehouseList", "Reports")" data-submenu="List">Item Warehouse List</a></li>
                            <li><a href="@Url.Action("PettyCashCategory", "Lists")" data-submenu="List">Petty Cash Category List</a></li>
                            <li><a href="@Url.Action("Position", "Lists")" data-submenu="List">Position List</a></li>
                            <li><a href="@Url.Action("PrepaidExpense", "Lists")" data-submenu="List">Prepaid Expense List</a></li>
                            <li><a href="@Url.Action("PrepaidExpenseCategory", "Lists")" data-submenu="List">Prepaid Expense Category List</a></li>
                            <li><a href="@Url.Action("VendorList", "Lists")" data-submenu="List">Vendor List</a></li>
                            <li><a href="@Url.Action("VendorCategoryList", "Lists")" data-submenu="List">Vendor Category List</a></li>
                            @* <li><a asp-controller="VendorList" asp-action="VendorList">Vendor List</a></li> 
                            <li><a asp-controller="VendorList" asp-action="VendorCategoryList">Vendor Category List</a></li>*@
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="dropdown" data-mainmenu="Setting">
                Settings
                <ul class="submenu">
                   @*  <li><a asp-controller="MasterSettings" asp-action="Index">Settings</a></li> *@
                    <li><a href="@Url.Action("MasterSettings", "Settings")" data-submenu="Setting">Settings</a></li>
                    <li><a href="@Url.Action("ChangePassword", "Settings")" data-submenu="Change Current Password">Change Current Password</a></li>
                    <li><a href="@Url.Action("User", "Account")" data-submenu="Users">User</a></li>
                </ul>
            </li>
        </ul>

        <div style="position:relative;display:inline-block;margin-left:auto">
            <button onclick="document.getElementById('menu').style.display=document.getElementById('menu').style.display=='block'?'none':'block'"
                    style="background:#667eea;color:white;border:none;padding:1px 20px;border-radius:8px;cursor:pointer">
                👤 <span id="navUsername">@((Context.Session.GetString("UserName") ?? "User"))</span>▼
            </button>
            <div id="menu" style="display:none;position:absolute;right:0;background:white;box-shadow:0 4px 12px rgba(0,0,0,0.15);border-radius:8px;margin-top:8px;min-width:150px">
                <a href="/Account/Logout" style="display:block;background:#f5576c;color:white;padding:12px 20px;text-decoration:none;border-radius:8px">
                    🔐Logout
                </a>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {

        const permissions = JSON.parse(localStorage.getItem("userPermissions") || "[]");

        // ---------- BUILD PERMISSION MAPS ----------
        const mainMenuMap = {};
        const subMenuMap  = {};

        permissions.forEach(p => {
            if (p.mainMenuName && p.canView === true) {
                mainMenuMap[p.mainMenuName.trim().toLowerCase()] = true;
            }
            if (p.subMenuName && p.canView === true) {
                subMenuMap[p.subMenuName.trim().toLowerCase()] = true;
            }
        });

        // ---------- APPLY SUB MENU PERMISSIONS ----------
        document.querySelectorAll("[data-submenu]").forEach(el => {
            const key = el.getAttribute("data-submenu").trim().toLowerCase();

            if (!subMenuMap[key]) {
                const li = el.closest("li");
                if (li) li.style.display = "none";
            }
        });

        // ---------- HIDE EMPTY SUB DROPDOWNS ----------
        document.querySelectorAll(".has-submenu").forEach(menu => {
            const visibleItems = menu.querySelectorAll("li:not([style*='display: none'])");
            if (visibleItems.length === 0) {
                menu.style.display = "none";
            }
        });

        // ---------- APPLY MAIN MENU PERMISSIONS ----------
        document.querySelectorAll(".navbar-links > li.dropdown").forEach(menu => {

            // 1️⃣ Prefer explicit data-mainmenu
            let key = menu.getAttribute("data-mainmenu");

            // 2️⃣ Otherwise fallback to menu text
            if (!key) {
                key = menu.firstChild.textContent;
            }

            if (!key) return;

            key = key.trim().toLowerCase();

            if (!mainMenuMap[key]) {
                menu.style.display = "none";
            }
        });

    });
</script>

