<div class="top-navbar">
    <div class="d-flex align-items-center  w-100">

        <!-- Left: Navigation Menu -->
      @*   <ul class="navbar-links"  id="dynamicMenu"> *@
        <ul class="navbar-links">
            <li class="dropdown">
                File
                <ul class="submenu">
                    <li><a href="@Url.Action("CompanyList", "Account")">Company List</a></li>
                    <li><a href="@Url.Action("CompanyProfile", "Account")">Company Center</a></li>
                </ul>
            </li>
            <li class="dropdown" data-main="Accountant">
                Lists
                <ul class="submenu">
                    <li>
                        <a href="@Url.Action("ChartOfAccount", "Lists")">
                            Chart of Account
                        </a>
                    </li>
                    <li><a href="@Url.Action("ItemList", "Lists")">Item List</a></li>
                    <li><a href="@Url.Action("ItemCategory", "Lists")">Item Category List</a></li>
                    <li><a href="@Url.Action("Tax", "Lists")">Item Tax Code List</a></li>
                    <li><a href="@Url.Action("Unit", "Lists")">Item Unit List</a></li>
                    <li><a href="@Url.Action("FixedAssetItem", "Lists")">Fixed Asset Item List</a></li>
                </ul>
            </li>

            <li class="dropdown">
                Accountant
                <ul class="submenu">
                    <li class="dropdown has-submenu" data-main="Accountant" data-sub="Account Center">
                        <a href="">Account Center</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("ChartOfAccount", "Lists")">Chart Of Account</a></li>
                            <li><a href="@Url.Action("CostCenter", "Lists")">Cost Center</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Fixed Assets List</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("FixedAssets", "Lists")">Fixed Assets Center</a></li>
                            <li><a href="@Url.Action("FixedAssetsCategory", "Lists")">Fixed Assets Category</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Voucher</a>
                        <ul class="submenu">
                            @* <li><a asp-controller="ReceiveVoucher" asp-action="Index">Payment Voucher</a></li> *@
                            @* <li><a asp-controller="GeneralJournalVouchers" asp-action="Index">General Journal Voucher</a></li> 
                                 <li><a asp-controller="ReceiptVouchers" asp-action="Index">Receipt Voucher</a></li>
                                 <li><a asp-controller="AdvancePayments" asp-action="Index">Advance Payment</a></li>*@
                            <li><a href="@Url.Action("PaymentVoucher", "Account")">Payment Voucher</a></li>
                            <li><a href="@Url.Action("ReceiptVoucher", "Account")">Receipt Voucher</a></li>
                            <li><a href="@Url.Action("AdvancePayment", "Account")">Advance Payment Voucher</a></li>
                            <li><a href="@Url.Action("GJVoucher", "Account")">General Journal Voucher</a></li>
                        </ul>
                        </li>
                    <li class="dropdown has-submenu">
                        <a href="">Prepaid Expense List</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("PrepaidExpense", "Lists")">Prepaid Expense Center</a></li>
                            <li><a href="@Url.Action("PrepaidExpenseCategory", "Lists")">Prepaid Expense Category</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Petty Cash List</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("PettyCash", "Lists")">Petty Cash Center</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Banking</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("BankCenter", "Account")">Bank Center</a></li>
                            <li><a href="@Url.Action("BankCardCenter", "Account")">Bank Card Center</a></li>
                            <li><a href="@Url.Action("BankCheque", "Account")">Bank Cheque</a></li>
                            <li><a href="@Url.Action("PDC", "Account")">PDC</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                Inventory Doc
                <ul class="submenu">
                    <li class="dropdown has-submenu">
                        <a href="">Inventory Items</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("Unit", "Lists")">Add Unit</a></li>
                            <li><a href="@Url.Action("ItemCategory", "Lists")">Add Category</a></li>
                            <li><a href="@Url.Action("Tax", "Lists")">Add Item Tax Code</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("ItemList", "Lists")">Add New Item</a></li>
                    <li><a href="@Url.Action("StockManagement", "Inventory")">Stock Management</a></li>
                   @*  <li><a asp-controller="ItemStockSettlement" asp-action="Index">Stock Management</a></li> *@
                    <li><a href="@Url.Action("ItemList", "Lists")">Inventory Center</a></li>
                    <li><a href="@Url.Action("WareHouse", "Inventory")">Warehouse Center</a></li>
                    <li><a href="@Url.Action("WarehouseTransfer", "Inventory")">Item Warehouse Transfter</a></li>
                </ul>
            </li>
            <li class="dropdown">
                Customers
                <ul class="submenu">
                    <li><a href="@Url.Action("Customer", "Customer")">Customer Center</a></li>
                    <li><a href="@Url.Action("SalesCenter", "Customer")">Sales Center</a></li>
                    <li><a href="@Url.Action("SalesQuotation", "Customer")">Sales Quotation</a></li>
                    <li><a href="@Url.Action("SalesOrder", "Customer")">Sales Order</a></li>
                    <li><a href="@Url.Action("SalesPerforma", "Customer")">Sales Performa</a></li>
                    <li><a href="@Url.Action("SalesReturn", "Customer")">Sales Return</a></li>
                    <li><a href="@Url.Action("CreditNote", "Customer")">Credit Note</a></li>
                   @*  <li><a asp-controller="CustomerCenter" asp-action="Index">Customer Center</a></li> *@
                @*     <li><a asp-controller="MasterCreditNote" asp-action="Index">Sales Center</a></li>
                    <li><a asp-controller="CustmerSalesQuotation" asp-action="Index">Sales Quotation</a></li> 
                     <li><a asp-controller="CustomerSalesOrders" asp-action="Index">Sales Order</a></li>
                      <li><a asp-controller="CustmerSalesProformas" asp-action="Index">Sales Proforma</a></li>
                          <li><a asp-controller="SalesReturns" asp-action="Index">Sales Return</a></li>
                          <li><a asp-controller="MasterCreditNote" asp-action="Create">Create Invoice</a></li>
                                <li><a asp-controller="ReceiptVouchers" asp-action="Create">Receive Voucher</a></li>
                    <li><a asp-controller="CreditNotes" asp-action="Index">Credit Note</a></li>*@
                </ul>
            </li>
            <li class="dropdown">
                Vendors
                <ul class="submenu">
                    <li><a href="@Url.Action("Vendor", "Vendor")">Vendor Center</a></li>
                    <li><a href="@Url.Action("PurchaseCenter", "Vendor")">Purchase Center</a></li>
                    <li><a href="@Url.Action("PurchaseOrder", "Vendor")">Purchase Order</a></li>
                    <li><a href="@Url.Action("PurchaseReturn", "Vendor")">Purchase Return</a></li>
                    <li><a href="@Url.Action("DebitNote", "Vendor")">Debit Note</a></li>
                    @* <li><a asp-controller="Vendors" asp-action="Index">Vendor Center</a></li> 
                    <li><a asp-controller="PurchasesCenter" asp-action="Index">Purchases Center</a></li>
                    <li><a asp-controller="PurchaseOrders" asp-action="Index">Purchase Order</a></li>
                    <li><a asp-controller="PurchasesReturn" asp-action="Index">Purchase Return</a></li>*@
                @*     <li><a asp-controller="PurchasesCenter" asp-action="Create">Create Purchase</a></li> 
                    <li><a asp-controller="ReceiveVoucher" asp-action="Create">Payment Voucher</a></li>
                    <li><a asp-controller="DebitNotes" asp-action="Index">Debit Note</a></li>*@
                </ul>
            </li>
            <li class="dropdown">
                Subcontractor
                <ul class="submenu">    
                    <li><a href="@Url.Action("Subcontractor", "Subcontractor")">Subcontractor Center</a></li>
                    <li><a href="@Url.Action("PurchaseCenter", "Vendor")">Purchase Center</a></li>
                    @* <li><a asp-controller="Subcontractors" asp-action="Index">Subcontractor Center</a></li>
                    <li><a asp-controller="SubcontractorPurchasesCenter" asp-action="Index">Purchases Center</a></li>
                <li><a asp-controller="SubcontractorPurchasesCenter" asp-action="Create">Create Purchase</a></li>
                    <li><a asp-controller="SubcontractorReceiveVoucher" asp-action="Create">Payment Voucher</a></li> *@
                </ul>
            </li>
            <li class="dropdown">
                HR
                <ul class="submenu">
                    <li><a href="@Url.Action("HRMS", "HR")">Human Resource</a></li>
                </ul>
            </li>
            <li class="dropdown">
                Construction
                <ul class="submenu">
                    <li class="dropdown has-submenu">
                        <a href="">Project SetUp</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("ProjectCenter", "Construction")">Project Center</a></li>
                            <li><a href="@Url.Action("TenderCenter", "Construction")">Tender Center</a></li>
                            <li><a href="@Url.Action("SiteCenter", "Construction")">Site Center</a></li>
                        </ul>
                      </li>
                    <li><a href="@Url.Action("ProjectTender", "Construction")">Project Tender</a></li>
                    <li><a href="@Url.Action("ProjectEstimation", "Construction")">Project Estimate</a></li>
                    <li><a href="@Url.Action("ProjectPlanning", "Construction")">Project planning</a></li>
                    <li><a href="@Url.Action("ProjectWorkDone", "Construction")">Project Work Done</a></li>
                    <li class="dropdown has-submenu">
                        <a href="">Project Management</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("ProjectSummary", "Construction")">Project Summary</a></li>
                            <li><a href="@Url.Action("ActivitySummary", "Construction")">Project Active Summary</a></li>
                            <li><a href="@Url.Action("ProjectAssignReport", "Construction")">Project Assign Summary</a></li>
                            <li><a href="@Url.Action("ProjectResourceReport", "Construction")">Project Resource Summary</a></li>
                            <li><a href="@Url.Action("ProjectProgressSummary", "Construction")">Project Progress Summary</a></li>
                            <li><a href="@Url.Action("ProjectWorkProgressSummary", "Construction")">Project Work Progress Summary</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Project Dashboard & Reports</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("ProjectDashboard", "Construction")">Project Dashboard</a></li>
                            <li><a href="@Url.Action("ProjectTimeLine", "Construction")">Timeline</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("ProjectTimeLineChart", "Construction")">Project Time Line</a></li>
                </ul>
            </li>
            <li class="dropdown">
                Reports
                <ul class="submenu">
                    <li class="dropdown has-submenu">
                        <a href="">Company</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("AccountBalanceReport", "Reports")">Balance Sheet Standard</a></li>
                            <li><a href="@Url.Action("IncomeByCustomerSummary", "Reports")">Income By Customer Summary</a></li>
                            <li><a href="@Url.Action("IncomeByVendorSummary", "Reports")">Expense From Vendor Summary</a></li>
                            <li><a href="@Url.Action("StatementOfCashFlow", "Reports")">Statement Of Cash Flow</a></li>
                            <li><a href="@Url.Action("ProfitLoss", "Reports")">Profit & Loss</a></li>
                            <li><a href="@Url.Action("IncomeExpenseStatement", "Reports")">Income Expenses Statement</a></li>
                       @*      <li><a asp-controller="IncomeSummary" asp-action="IncomeByCustomerSummary">Income By Customer Summary</a></li>
                            <li><a asp-controller="IncomeSummary" asp-action="IncomeByVendorSummary">Expense From Vendor Summary</a></li> 
                            <li><a asp-controller="IncomeSummary" asp-action="CashFlowStatement">Statement of Cash Flow</a></li>
                            <li><a asp-controller="IncomeSummary" asp-action="IncomeExpenseStatement">Income Expense Statement</a></li>
                            <li><a asp-controller="IncomeSummary" asp-action="UserActivity">User Activity Report</a></li>*@
                        </ul>
                        </li>
                    <li class="dropdown has-submenu">
                        <a href="">Customer & Receivable</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("CustomerSummary", "Reports")">Customer Summary</a></li>
                            <li><a href="@Url.Action("CustomerAgingSummary", "Reports")">Customer Aging Summary</a></li>
                            <li><a href="@Url.Action("CustomerBalanceSummary", "Reports")">Customer Balance Summary</a></li>
                            <li><a href="@Url.Action("IncomeByCustomer", "Reports")">Income By Customer</a></li>
                            @* <li><a asp-controller="CustomerAndReceivable" asp-action="CustomerSummary">Customer Summary</a></li> 
                            <li><a asp-controller="CustomerAndReceivable" asp-action="CustomerAgingSummary">Customer Aging Summary</a></li>
                            <li><a asp-controller="CustomerAndReceivable" asp-action="CustomerBalanceSummary">Customer Balance Summary</a></li>
                            <li><a asp-controller="IncomeSummary" asp-action="IncomeByCustomerSummary">Income By Customer Summary</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Sales</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("SalesByCustomerSummary", "Reports")">Sales By Customer Summary</a></li>
                            <li><a href="@Url.Action("SalesByItemSummary", "Reports")">Sales By Item Summary</a></li>
                           @*  <li><a asp-controller="SalesSummary" asp-action="SalesByCustomerSummary">Sales By Customer Summary</a></li> 
                            <li><a asp-controller="SalesSummary" asp-action="ItemSummary">Sales By Item Summary</a></li>*@
                        </ul>
                    </li>
                     <li class="dropdown has-submenu">
                        <a href="">Vendor & Payable</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("VendorSummary", "Reports")">Vendor Summary</a></li>
                            <li><a href="@Url.Action("VendorAgingSummary", "Reports")">Vendor Aging Summary</a></li>
                            <li><a href="@Url.Action("VendorBalanceSummary", "Reports")">Vendor Balance Summary</a></li>
                            <li><a href="@Url.Action("IncomeByVendorSummary", "Reports")">Vendor Income Summary</a></li>
                           @*  <li><a asp-controller="VendorAndPayable" asp-action="VendorSummary">Vendor Summary</a></li>
                            <li><a asp-controller="VendorAndPayable" asp-action="VendorAgingSummary">Vendor Aging Summary</a></li>
                            <li><a asp-controller="VendorAndPayable" asp-action="VendorBalanceSummary">Vendor Balance Summary</a></li> 
                            <li><a asp-controller="IncomeSummary" asp-action="IncomeByVendorSummary">Income By Vendor Summary</a></li>*@
                            
                        </ul>
                    </li>
                       <li class="dropdown has-submenu">
                        <a href="">Purchases</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("PurchaseByVendorSummary", "Reports")">Purchase By Vendor Summary</a></li>
                            <li><a href="@Url.Action("PurchaseByItemSummary", "Reports")">Purchase By Item Summary</a></li>
                            <li><a href="@Url.Action("PurchaseByVendorSummary", "Reports")">Purchase By Subcontractor Summary</a></li>
                          @*   <li><a asp-controller="PurchasesReport" asp-action="PurchaseByVendorSummary">Purchase By Vendor Summary</a></li>
                            <li><a asp-controller="PurchasesReport" asp-action="ItemSummary">Purchase By Items Summary</a></li> 
                            <li><a asp-controller="PurchasesReport" asp-action="PurchaseBySubcontractorSummary">Purchase By Subcontractor Summary</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Employees</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("EmployeeBalanceSummary", "Reports")">Employee Balance Summary</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Account</a>
                        <ul class="submenu">
                            <li><a href="/Reports/TrialBalance">Trial Balance</a></li>
                           @*  <li class="submenu-item has-sub">
                                <a href="#" class="submenu-link">Petty Cash</a>
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="/Reports/PettyCashSummary">Summary</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="/Reports/PettyCashDetails">Details</a>
                                    </li>
                                </ul>
                            </li> *@
                            <li><a href="@Url.Action("PettyCashSummary", "Reports")">Petty Cash Summary</a></li>
                            <li><a href="@Url.Action("PettyCashDetails", "Reports")">Petty Cash Details</a></li>
                            <li><a href="@Url.Action("TransacationJournal", "Lists")">Transactions Journal</a></li>
                            <li><a href="@Url.Action("GeneralLedger", "Reports")">General Ledger</a></li>
                            <li><a href="@Url.Action("CostCenterSummary", "Reports")">Cost Center</a></li>
                            <li><a href="@Url.Action("VATReport", "Reports")">VAT Report</a></li>
                            <li><a href="@Url.Action("FixedAssetSummary", "Reports")">Fixed Asset</a></li>
                            <li><a href="@Url.Action("PrepaidExpenseSummary", "Reports")">Prepaid Expense</a></li>
                            <li><a href="@Url.Action("MasterVAT", "Reports")">VAT Category Report</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">Inventory</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("ItemMovingReport", "Reports")">Item Moving Report</a></li>
                            <li><a href="@Url.Action("ItemWiseProfitStatement", "Reports")">Item Profit</a></li>
                            <li><a href="@Url.Action("InventoryTransaction", "Lists")">Item Transaction</a></li>
                            <li><a href="@Url.Action("WareHouseSummary", "Reports")">Warehouse Summary</a></li>
                        </ul>
                    </li>
                    <li><a href="">Corporate Tax</a></li>
                    <li class="dropdown has-submenu">
                        <a href="">Bank</a>
                        <ul class="submenu">

                            <li><a href="@Url.Action("ChequeReport", "Reports")">Cheque Inquiry</a></li>
                            <li><a href="@Url.Action("BankBalanceSummary", "Reports")">Bank Balance Summary</a></li>
                            <li><a href="@Url.Action("PDCOutstandingSummary", "Reports")">PDC Outstanding</a></li>
                            <li><a href="@Url.Action("PDCClearedHistory", "Reports")">PDC Cleared History</a></li>
                            <li><a href="@Url.Action("ReturnedChequeReport", "Reports")">Returned Cheques Report</a></li>
                            <li><a href="@Url.Action("ChequeLinked", "Reports")">Cheques Linked to Payment/Receipt</a></li>
                        </ul>
                    </li>
                    <li class="dropdown has-submenu">
                        <a href="">List</a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("ChartOfAccount", "Lists")">Account List</a></li>
                            <li><a href="@Url.Action("BankCenter", "Account")">Bank List</a></li>
                            <li><a href="@Url.Action("BankCardCenter", "Account")">Bank Card List</a></li>
                            <li><a href="@Url.Action("ChartOfAccountL1", "Lists")">Chart of Account(L1)</a></li>
                            <li><a href="@Url.Action("ChartOfAccountL2", "Lists")">Chart of Account(L2)</a></li>
                            <li><a href="@Url.Action("ChartOfAccountL3", "Lists")">Chart of Account(L3)</a></li>
                            <li><a href="@Url.Action("BankCheque", "Account")">Cheque List</a></li>
                            <li><a href="@Url.Action("CityList", "Reports")">City List</a></li>
                            <li><a href="@Url.Action("CountryList", "Reports")">Country List</a></li>
                            <li><a href="@Url.Action("CostCenter", "Lists")">Cost Center List</a></li>

                            <li><a asp-controller="CustomerList" asp-action="CustomerList">Customer List</a></li>
                            <li><a asp-controller="CustomerList" asp-action="CustomerCategoryList">Customer Category List</a></li>

                            <li><a href="@Url.Action("Department", "Lists")">Department List</a></li>
                            <li><a href="@Url.Action("EmployeeList", "Reports")">Employee List</a></li>
                            <li><a href="@Url.Action("FixedAssetList", "Reports")">Fixed Asset List</a></li>
                            <li><a href="@Url.Action("FixedAssetsCategory", "Lists")">Fixed Asset Category List</a></li>
                            <li><a href="@Url.Action("FixedAssetItem", "Lists")">Fixed Asset Item List</a></li>
                            <li><a href="@Url.Action("ItemList", "Reports")">Item List</a></li>


                            <li><a href="@Url.Action("ItemCategory", "Lists")">Item Category List</a></li>
                            <li><a href="@Url.Action("Tax", "Lists")">Item Tax Code List</a></li>
                            <li><a href="@Url.Action("Unit", "Lists")">Item Unit List</a></li>
                            <li><a href="@Url.Action("ItemWarehouseList", "Reports")">Item Warehouse List</a></li>
                            <li><a href="@Url.Action("PettyCashCategory", "Lists")">Petty Cash Category List</a></li>
                            <li><a href="@Url.Action("Position", "Lists")">Position List</a></li>
                            <li><a href="@Url.Action("PrepaidExpense", "Lists")">Prepaid Expense List</a></li>
                            <li><a href="@Url.Action("PrepaidExpenseCategory", "Lists")">Prepaid Expense Category List</a></li>
                            <li><a asp-controller="VendorList" asp-action="VendorList">Vendor List</a></li>
                            <li><a asp-controller="VendorList" asp-action="VendorCategoryList">Vendor Category List</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                Settings
                <ul class="submenu">
                   @*  <li><a asp-controller="MasterSettings" asp-action="Index">Settings</a></li> *@
                    <li><a href="@Url.Action("MasterSettings", "Settings")">Settings</a></li>
                    <li><a href="@Url.Action("ChangePassword", "Settings")">Change Current Password</a></li>
                    <li><a href="@Url.Action("User", "Account")">User</a></li>
                </ul>
            </li>
        </ul>

        @*  <div class="navbar-user dropdown ms-auto">
            <!-- Username with icon -->
            <a class="d-flex align-items-center text-decoration-none dropdown-toggle"
               href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle fs-5 me-2"></i>
                <span id="navUsername">@((Context.Session.GetString("UserName") ?? "User"))</span>
            </a>
        </div> *@

        <div style="position:relative;display:inline-block;margin-left:auto">
            <button onclick="document.getElementById('menu').style.display=document.getElementById('menu').style.display=='block'?'none':'block'"
                    style="background:#667eea;color:white;border:none;padding:1px 20px;border-radius:8px;cursor:pointer">
                👤 <span id="navUsername">@((Context.Session.GetString("UserName") ?? "User"))</span>▼
            </button>
            <div id="menu" style="display:none;position:absolute;right:0;background:white;box-shadow:0 4px 12px rgba(0,0,0,0.15);border-radius:8px;margin-top:8px;min-width:150px">
                <a href="/Account/Logout" style="display:block;background:#f5576c;color:white;padding:12px 20px;text-decoration:none;border-radius:8px">
                    🔐Logout
                </a>
            </div>
        </div>
    </div>
</div>



<script>
    // $(document).ready(function () {
    //     loadUserMenu();
    // });

    // function loadUserMenu() {
    //     $.ajax({
    //         url: '/Account/GetUserMenu',
    //         type: 'GET',
    //         success: function (res) {
    //             if (!res.status) return;

    //             let html = '';

    //             res.data.forEach(main => {
    //                 html += `
    //                     <li class="dropdown">
    //                         ${main.name}
    //                         <ul class="submenu">
    //                 `;

    //                 main.subMenus.forEach(sub => {
    //                     html += `
    //                         <li>
    //                             <a href="${sub.url}">${sub.name}</a>
    //                         </li>
    //                     `;
    //                 });

    //                 html += `
    //                         </ul>
    //                     </li>
    //                 `;
    //             });

    //             $("#dynamicMenu").html(html);
    //         },
    //         error: function () {
    //             toastr.error("Failed to load menu");
    //         }
    //     });
    // }
</script>
